/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .label {
    display: block;
    text-align: center;
    font-weight: 700;
  }
  
  .input {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btn {
    cursor: pointer;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 10px;
    border: none;
  }
  
  .btn:hover {
    background-color: blue;
    color: #fff;
    border-color: transparent;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */